<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<title></title>
</head>
<body>
	<div class='container'>
		<h1> Allergy Code Translator </h1>
		<form action='/view_allergy_results'>
			<div class='form-group'>
				<div class='row'>
					<div class='col-md-4'>
						<label for='code'> Enter an Allergy Code (1 to 255): </label>
						<input id='code' name='code' class='form-control' type='int' placeholder='256'>
					</div>
				</div>
			</div>
			<button type='submit' class='btn-success'>Submit</button>
		</form>
	</div>
</body>
</html>
